@media screen and (max-width: 600px) {

body, html {
    background-color: lightblue;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.navbar {
    background-color: #d60d9a;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    /* border-radius: 0 0 15px 15px; */
}

.bar {
    margin-left: 0.5    em;
    font-size: 2em;
}

.logo {
    font-size: 2em;
    margin-left: 0.5em;
}

.list {
    display: none;
}

.list a {
    display: none;
}

.list a, .logo {
    cursor: pointer;
    text-shadow: 0px 0px 2px black;
    text-decoration: none;
    color: white;
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.searchbar {
    border: 0;
    outline: 0;
    height: 1.7em;
    width: 10em;
    border-radius: 0.3em;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.2em;
    padding-left: 1.5em;
    margin-right: 1em;
    margin-left: 1em;
}

.searchbar::placeholder {
    opacity: 0.2;
}

.search .icon {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-size: 1rem;
    position: absolute;
    margin-left: 1.3em;
}

.search .signIn {
    background-color: white;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    width: 4em;
    height: 2.2em;
    font-size: 1em;
    font-family: 'Barlow Condensed', sans-serif;
    margin-left: 0;
    margin-right: 1em;
    border-radius: 5px;
    text-align: center;
    color: #d60d9a;
}
}

@media screen and (min-width: 1280px) {

body, html {
    background-color: lightblue;
    margin: 0;
    padding: 0;
    height: 100vh;
}

header {
    position: relative;
}

.navbar {
    background-color: #d60d9a;
    width: 100%;
    max-width: 1000px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    /* border-radius: 0 0 15px 15px; */
}

.navbar .bar {
    display: none;
}

.list {
    display: flex;
    align-items: center;
    gap: 4rem;
    list-style: none;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.3em;
    color: white;
    padding-left: 0;
}

.list a, .logo {
    cursor: pointer;
    text-shadow: 0px 0px 2px black;
    text-decoration: none;
    color: white;
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchbar {
    border: 0;
    outline: 0;
    height: 1.7em;
    border-radius: 0.3em;
    width: 300px;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.2em;
    margin-right: 1em;
    padding-left: 2em;
}

.searchbar::placeholder {
    opacity: 0.2;
}

.search .icon {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-size: 1.2em;
    position: absolute;
    margin-left: 0.4em;
}

.search .signIn {
    background-color: white;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    width: 3.5em;
    height: 1.8em;
    font-size: 1.2em;
    font-family: 'Barlow Condensed', sans-serif;
    margin-left: 0;
    margin-right: 1em;
    border-radius: 5px;
    text-align: center;
    color: #d60d9a;
}

.logo {
    font-size: 2.5em;
    padding-left: 1em;
}

.content {
    max-width: 1000px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-color: white;
    box-shadow: none;
}
}